markdown~=3.2
mkdocs~=1.5.3
mkdocs-material-extensions~=1.3
pygments~=2.16
pymdown-extensions~=10.2
pyodide-py~=0.25.0
mkdocs-macros-plugin[test]
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==9.5.12
mike==2.0.0
mkdocs-material[imaging]
mkdocs-pyscript==0.1.1
mkdocs-git-committers-plugin-2==2.3.0
mkdocs-git-authors-plugin==0.7.2
mkdocs-git-revision-date-localized-plugin==1.2.4