markdown
mkdocs
mkdocs-material-extensions
pygments
pymdown-extensions
pyodide-py
mkdocs-macros-plugin[test]
mkdocs-git-revision-date-plugin
mkdocs-material
mike
mkdocs-material[imaging]
mkdocs-pyscript
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin